.form-div {
  width: 100%;
  display: flex;
  justify-content: center;
  form {
    display: flex;
    width: 80vw;
    justify-content: center;
    padding-top: 1rem;
    align-items: center;
    mat-form-field {
      width: 100%;
      margin-right: 0.5rem;
    }
    &.on-mobile {
      flex-direction: column;
      justify-content: space-between;
      mat-form-field {
        margin: 0 0 1rem 0;
      }
      button {
        width: 100%;
      }
    }
  }
}
