<app-movie-list [movies]="popularMovies()" [toggles]="popularMovieListConfig()" [toggleTemplate]="listToggles">
</app-movie-list>

<ng-template #listToggles let-toggles>
  <div class="list-header" [ngClass]="{'list-header': !isMobile()}">
    <h1>What's Popular</h1>
    @if (isMobile()) {
    <mat-select [value]="toggles.selectedToggle" (selectionChange)="changeToggle($event)">
      @for (toggle of toggles.toggles; track $index) {
      <mat-option [value]="toggle.value">{{toggle.name}}</mat-option>
      }
    </mat-select>
    } @else {
    <mat-button-toggle-group name="What's Popular" [value]="toggles.selectedToggle">
      @for (toggle of toggles.toggles; track $index) {
      <mat-button-toggle [value]="toggle.value" (change)="changeToggle($event)">{{toggle.name}}</mat-button-toggle>
      }
    </mat-button-toggle-group>
    }
  </div>
</ng-template>
