<div class="container">
  <section @myInsertRemoveTrigger>
    @if (selectedMovie().loading) {
    <div class="spinner-div">
      <mat-spinner></mat-spinner>
    </div>
    } @else {
    <div class="movie-div" [class.desktop-padding]="!isMobile()">
      <div [class.movie-grid]="!isMobile()" [class.on-mobile]="isMobile()">
        <div class="movie-img">
          <img src="https://image.tmdb.org/t/p/original/{{selectedMovie().data?.poster_path}}"
            [alt]="selectedMovie().data?.title">
        </div>
        <div class="movie-content">
          <h1>
            {{selectedMovie().data?.title}}
          </h1>
          <h3>
            {{selectedMovie().data?.release_date | date}} &#8226;
            @for (genre of selectedMovie().data?.genres; track $index) {
            @if($index + 1 >= (selectedMovie().data?.genres?.length ?? 0)) {
            {{genre.name}}
            } @else {
            {{genre.name}},
            }
            }
            &#8226; {{selectedMovie().data?.runtime}}m
          </h3>
          <h2>
            {{votingAverage() | number : '1.0-0'}}%
          </h2>
          <em>{{selectedMovie().data?.tagline}}</em>
          <h3>Overview</h3>
          <p>
            {{selectedMovie().data?.overview}}
          </p>
        </div>
      </div>
    </div>
    }
  </section>
</div>