<div class="card-list-container">
  <div class="card-list">
    <div class="list-header">
      <h1>{{config().heading}}</h1>
      <mat-button-toggle-group [name]="config().heading" [value]="toggle()">
        @for (toggle of config().toggles; track $index) {
        <mat-button-toggle [value]="toggle.value" (change)="changeToggle($event)">{{toggle.name}}</mat-button-toggle>
        }
      </mat-button-toggle-group>
    </div>
    <ul>
      <li *ngFor="let movie of movies()">
        <app-movie-card [movie]="movie"></app-movie-card>
      </li>
    </ul>
  </div>
</div>
