.card-list-container {
  display: flex;
  justify-content: center;
  .card-list {
    width: 80vw;
    ul {
      padding-left: 2px;
      padding-bottom: 0.5rem;
      display: flex;
      overflow-x: scroll;
      min-height: 400px;
      margin-top: 0;
    }
  }
}
