<form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
      placeholder="Search Movie Explorer">
    @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
    <mat-error>Please enter a valid email address</mat-error>
    }
    @if (emailFormControl.hasError('required')) {
    <mat-error>Email is <strong>required</strong></mat-error>
    }
  </mat-form-field>
</form>
