<div class="form-div">
  <form [formGroup]="searchForm" (ngSubmit)="searchForMovies()">
    <mat-form-field appearance="outline">
      <input type="text" matInput formControlName="searchTerm" [errorStateMatcher]="matcher"
        placeholder="Search Movie Explorer">
      @if (searchForm.hasError('email') && !searchForm.hasError('required')) {
      <mat-error>Please enter a valid email address</mat-error>
      }
      @if (searchForm.hasError('required')) {
      }
    </mat-form-field>
    <button mat-raised-button color="primary">Search</button>
  </form>
</div>
