<div class="form-div">
  <form [formGroup]="searchForm" (ngSubmit)="search()" [class.on-mobile]="isMobile()">
    <mat-form-field appearance="outline">
      <input type="text" matInput formControlName="searchTerm" placeholder="Search Movie Explorer">
      @if (searchForm.controls.searchTerm.hasError('required')) {
      <mat-error>Please enter the name of a film</mat-error>
      }
      @if (searchForm.controls.searchTerm.hasError('minlength')) {
      <mat-error>Please enter a word at least 1 character in length</mat-error>
      }
    </mat-form-field>
    <button mat-fab extended [disabled]="!searchForm.valid">
      <mat-icon>search</mat-icon>
      Search
    </button>
  </form>
</div>