.container {
  min-height: calc(100vh - 128px);
  .search-results-div {
    display: flex;
    justify-content: center;
    ul {
      &.on-mobile {
        padding: 0;
      }
      width: 80vw;
      mat-card {
        mat-card-header {
          div {
            background-size: 40px 40px;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
      }
    }
    .search-results-list > *:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
