@use "@angular/material" as mat;

@include mat.elevation-classes();
@include mat.app-background();

$theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$cyan-palette,
    ),
  )
);

html {
  @include mat.elevation-classes();
  @include mat.app-background();
  @include mat.all-component-themes($theme);
}

html,
body {
  height: 100vh;
  min-height: 100vh;
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

li {
  list-style-type: none;
}

.list-header {
  display: flex;
  align-items: center;
  margin-top: 16px;
  h1 {
    margin-right: 16px;
  }
}
